* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

header {
	display: block;
	font-size: 2rem;
	text-align: center;
	width: 100%;
}

.wrapper {
	display: flex;
}

.grid {
	height: calc(100vh - 121px);
	overflow: scroll;
	width: 100%;
}

.module {
	border: 1px solid #EAEAEA;
	margin: 20px;
	padding: 20px;
}

footer {
	background-color: #ff8000;
	color: #FFF;
	font-size: 0.9rem;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}